<div class="container">
	<footer class="py-3 my-4">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li>MineWind Item Pricing API (Unofficial)</li>
		</ul>
		<p class="text-center text-body-secondary">Made with <3 by pen pen<br>Many thanks to the members of the minewind community.</p>
	</footer>
</div>