<!-- NavBar -->
<nav class="navbar navbar-expand-lg">
	<div class="container-fluid mt-2">
		<a class="navbar-brand me-4" href="/">MWIPC</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
			aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle naIVgation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse mt-2" id="mainNavbar">
			<div class="navbar-nav">
				<a class="mt-2 ms-4 nav-link pinkify btn btn-primary" target="_blank" href="/dev">Documentation</a>
				<a class="mt-2 ms-4 nav-link pinkify btn btn-primary" target="_blank" href="https://minewind.com">Minewind</a>
				<a class="mt-2 ms-4 nav-link pinkify btn btn-primary" target="_blank" href="https://docs.google.com/spreadsheets/d/1NreN_qK0pZ0KrREBt6c8M3P5o0c7qjcmf53OPgyYBcA/edit?gid=0#gid=0">ChristieBot</a>
				<a class="mt-2 ms-4 nav-link pinkify btn btn-primary" target="_blank" href="https://docs.google.com/spreadsheets/d/12CYgW-9DA6b-6k7qpEpmE496k8kP6t7B_9cTo85D1RU/edit?gid=809036244#gid=809036244">tatatot234</a>
			</div>
		</div>
	</div>
</nav>